{% extends "base.html" %}

{% block content %}
    <h2>{{ artist.name }}</h2>
    <p>Hometown: {{ artist.hometown }}</p>
    <p>Bio: {{ artist.bio }}</p>
    {% if artist.events|length > 0 %}
        <h4>Upcoming Events:</h4>
        <ul>
            {% for pair in artist.events %}
                <li><b>{{ pair.event.name}}:</b>
                    {{ pair.event.venue.name }},
                    {{ pair.event.venue.city }}, {{ pair.event.venue.country }}
                    <ul>
                        <li>{{ pair.event.date }}</li>
                        {% if pair.headliner %}
                            <li>Headlining</li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}