{% extends "base.html" %}

{% block app_content %}
    <h2>{{ artist.name }}</h2>
    <p>Hometown: {{ artist.hometown }}</p>
    <p>Bio: {{ artist.bio }}</p>
    {% if artist.events|length > 0 %}
        <h4>Upcoming Events:</h4>
        <ul>
            {% for pair in artist.events %}
                <li><b>{{ pair.event.name}}:</b>
                    <ul>
                        <li>{{ pair.event.date.strftime('%A, %b %d %Y') }}</li>
                        <li>{{ pair.event.venue.name }}</li>
                        <li>{{ pair.event.venue.city }}, {{ pair.event.venue.country }}</li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}